name: CI

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ci-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-22.04
    permissions:
      id-token: "write"
      contents: "read"
    steps:
      - uses: actions/checkout@v4
      - uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.KIPOS_SECRETS_DEPLOY_KEY }}
      - uses: DeterminateSystems/nix-installer-action@main
      # - uses: nix-community/cache-nix-action@v6
      #   with:
      #     # Key configuration is crucial for hit-rates
      #     primary-key: nix-${{ runner.os }}-${{ hashFiles('**/*.nix') }}
      #     restore-prefixes-first-match: nix-${{ runner.os }}-
      - uses: DeterminateSystems/flake-checker-action@main
      - uses: actions/setup-python@v3
      - uses: pre-commit/action@v3.0.1
      - name: Run `nix flake check` lint
        run: nix flake check --show-trace
      - name: Run `nix build .#sanity-check` tests
        run: nix build .#sanity-check --show-trace
